body{
    overflow-x: hidden;
    margin:0;
    padding:0;
    position: relative;
}
.toubu{
    width: 2200px;
    height: 100px;
    background: #171717;
}
.logo{
    background: url("./images/logo.svg") no-repeat ;
    width:330px;
    height:50px;
    position: absolute;
    top:20px;
    left:489px;
}
.fangzi{
    width:51px;
    height:45px;
    background-color: #21627c;
    position: absolute;
    top:55px;
    left:489px;
}
.fangzi .home{
    width:25px;
    height:25px;
    fill: currentColor;
    color:white;
    position: absolute;
    top:9px;
    left:14px;
}
ul{
    margin: 0;
}
ul li{
    list-style: none;
    float: left;
    padding-right:30px;
    color:wheat;
    position: relative;
    top:65px;
    left:520px;
    font-size: 14px;
}
.beijing{
    background:url(./images/background.jpg) no-repeat;
    width:2200px;
    height:650px;
    position: absolute;
    top:100px;
}