* {
    padding: 0%;
    margin: 0;
}

html {
  height: 100%;
} 

body{
  height: 100%;
  background-image:url(./timg.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

#board {
  display: none;
}

.game {
    width: 212px;
    height: 100px;
    font-size: 40px;
    position: relative;
    left: 50%;
    top: 500px;
}
#timer{
  color:red;
}
#warring{
  color:red;
}